body,
html {
  height: 100%;
  margin: 0px;
  font-family: "EB Garamond", sans-serif;
  scroll-behavior: smooth;
  font-size: 20px;
}
/*navbar*/
.navbar {
  background-color: transparent;
  background-image: none;
  border-style: none;
  font-size: 1rem;
  transition: all 0.1s;
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
  background: #083d67;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #fff;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #fff;
}

/*main page*/
.container-fluid {
  max-width: 100%;
  max-height: 750px;
  background-size: auto;
  background-position: center;
  background-attachment: scroll;
  background-image: url("../images/palmtreetrans16.png");
}
.main {
  max-width: 100%;
  max-height: 590px;
}
.jumbo {
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 5em 0;
  max-width: 1700px;
  font-size: 1.5em;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
/*subscribe modal*/
.bg-modal {
  width: 100%;
  height: 100%;
  position: relative;
  top: -10em;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-contents {
  height: 300px;
  width: 500px;
  background-color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  border-radius: 4px;
}

input {
  margin: 15px auto;
  display: block;
  width: 50%;
  padding: 10px;
  border: 1px solid gray;
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  color: rgb(36, 36, 36);
  transform: rotate(45deg);
  cursor: pointer;
}

/*wave*/
.waveWrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 200%;
  height: 70%;
  background-repeat: repeat no-repeat;
  transform-origin: center bottom;
  overflow: hidden;
}

.waveBottom {
  background-size: 50% 100px;
  background-image: url("../images/wave-bot.png");
}
.wavy {
  height: 150px;
  margin-bottom: 3em;
}
/*cards*/
.cards {
  margin-left: 3em;
  margin-right: 3em;
  padding: 2em 4em;
}
.card {
  box-shadow: 0px 0px 5px 0px rgba(97, 97, 97, 0.75);
  transition: 0.3s linear;
  background: white;
  padding: 1rem;
}
.card:hover {
  box-shadow: 0px 0px 25px 0px rgba(97, 97, 97, 0.95);
}
.footer {
  margin: 0px -15px;
}
.footicons {
  width: 100%;
  height: 200px;
  background-color: #073d67;
  padding: 2rem 0;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
}
.footicons p {
  color: #fff;
}
.footicons a,
.footicons a:hover,
.footicons a:visited,
.footicons a:link,
.footicons a:active {
  text-decoration: none;
  color: white;
  letter-spacing: 1rem;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container-fluid {
    background-position: left;
  }
  .cards {
    margin: 0.5em 0em;
    padding: 0em;
  }
  .card {
    margin: 1em 0em;
  }
  .jumbo {
    padding: 2em 0em;
  }

  .navbar {
    background-color: #228be2;
  }
  .custom-toggler.navbar-toggler {
    border-color: white !important;
  }
  .waveBottom {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .waveBottom {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .waveBottom {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .waveBottom {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
