body,
html {
  height: 100%;
  margin: 0px;
  font-family: "EB Garamond", sans-serif;
  scroll-behavior: smooth;
  font-size: 20px;
}
/*navbar*/
.navbar {
  background-color: transparent;
  background-image: none;
  border-style: none;
  font-size: 1rem;
  transition: all 0.1s;
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
  background: #083d67;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #fff;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #fff;
}

@media (max-width: 991.98px) {
  .navbar {
    background: #fff;
  }

  .navbar .navbar-brand,
  .navbar .nav-link {
    color: #555;
  }
}
/*main page*/
.container-fluid {
  max-width: 100%;
  max-height: 750px;
  background-size: auto;
  background-position: center;
  background-attachment: scroll;
  background-image: url("../assets/images/palmtreetrans16.png");
}
.main {
  max-width: 100%;
  max-height: 590px;
}
.jumbo {
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 5em 0;
  max-width: 1700px;
  font-size: 1.5em;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
/*wave*/
.waveWrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 200%;
  height: 70%;
  background-repeat: repeat no-repeat;
  transform-origin: center bottom;
  overflow: hidden;
}

.waveBottom {
  background-size: 50% 100px;
  background-image: url(../assets/images/wave-bot.png);
}
.wavy {
  height: 150px;
  margin-bottom: 3em;
}
.card {
  box-shadow: 0px 0px 5px 0px rgba(97, 97, 97, 0.75);
  transition: 0.3s linear;
  background: white;
  padding: 1rem;
}
.card:hover {
  box-shadow: 0px 0px 25px 0px rgba(97, 97, 97, 0.95);
}
.footer {
  margin: 0px -15px;
}
.footicons {
  width: 100%;
  height: 200px;
  background-color: #073d67;
  padding: 2rem 0;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
}
.footicons p {
  color: #fff;
}
.footicons a,
.footicons a:hover,
.footicons a:visited,
.footicons a:link,
.footicons a:active {
  text-decoration: none;
  color: white;
  letter-spacing: 1rem;
}
